<!doctype html>
<html data-theme="cmyk">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AECA</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daisyui@3.2.1/dist/full.css">
  </head>
  <body>
    <div>
      <ul>
        <li>
          <a class="link-primary" href="{% url 'index' %}">index</a>
          {% if user.is_authenticated %}
            <a class="link-primary" href="{% url 'profile' %}">profile</a>
            <a class="link-primary" href="{% url 'logout' %}">logout</a>
          {% else %}
            <a class="link-primary" href="{% url 'login' %}">login</a>
            <a class="link-primary" href="{% url 'register' %}">register</a>
          {% endif %}
        </li>
      </ul>
    </div>
    {% if messages %}
      {% for message in messages %}
        <div>{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>
