<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AECA</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="flex border-b-2 mb-3 py-5 px-10 border-slate-300">
      <div class="mx-3">
        <p>AECA</p>
      </div>
      <a class="text-cyan-600 mx-3" href="{% url 'index' %}">Home</a>
      <div class="grow">
        {% if user.is_authenticated %}
        <a class="text-cyan-600 mx-3" href="{% url 'profile' %}">My Profile</a>
        <span class="mx-3"><!-- --></span>
          <form class="inline-flex" method="get">
            <p>&lt;search bar&gt;</p>
          </form>
        {% endif %}
      </div>
      <div class="">
        {% if user.is_authenticated %}
          <a class="text-cyan-600 mx-3" href="{% url 'logout' %}">Logout</a>
        {% else %}
          <a class="text-cyan-600 mx-3" href="{% url 'login' %}">Login</a>
          <a class="text-cyan-600 mx-3" href="{% url 'register' %}">Register</a>
        {% endif %}
      </div>
    </div>

    <div class="px-10">
      {% if messages %}
        {% for message in messages %}
          <div>{{ message }}</div>
        {% endfor %}
        {% endif %}
      {% block content %}{% endblock %}
    </div>
</body>
</html>
