{% extends "shop/base.html" %}

{% block content %}
<div>
  <div>
    <section>
      {% for product in products %}
    <article>
      <h1>
        <a href="{% url 'product' product.id %}">
          {{ product.name }}
        </a>
      </h1>
        <p>${{ product.price }}</p>
        <p>{{ product.description }}</p>
        <p>{{ product.category }}</p>
      <form method="post" action="{% url 'add' %}">
        {% csrf_token %}
        <button name="product_id" value="{{ product.id }}">Add to cart</button>
      </form>
    </article>
      {% endfor %}
    </section>
  </div>
  <div>
    <div>
      <h1>My Cart</h1>
      {% for item in cart %}
        <div>{{item}}</div>
      {% endfor %}
    </div>
    <div>

    </div>
  </div>
</div>
{% endblock %}
